$cl-theme = #be5a5c

$cl-title = #464c5b
$cl-content = #657180
$cl-subColor = #9ea7b4
$cl-disabled = #c3cbd6
$cl-border = #d7dde4
$cl-background = #f5f7f9
$cl-darkback = #Efefef

$cl-red = #e54d42
$cl-orange = #f37b1d
$cl-yellow = #fbbd08
$cl-olive = #8dc63f
$cl-green = #39b54a
$cl-cyan = #1cbbb4
$cl-blue = #0081ff
$cl-purple = #6739b6
$cl-mauve = #9c26b0
$cl-pink = #e03997
$cl-brown = #a5673f
$cl-grey = #8799a3
$cl-gray = #aaaaaa
$cl-black = #333

$fs-title = 48rpx
$fs-content = 32rpx

$fs-s = 20rpx
$fs-m = 30rpx
$fs-l = 36rpx

.overflow-3
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
.overflow-2
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
.overflow-1
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;